<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>The Loop</title>
</head>

<body>
    <!-- Sidebar bg -->
    <!--<img src="assets/img/sidebar-bg.jpg" alt="sidebar img" class="bg-image">-->
    <%- include('partials/header') %>

        <%- include('partials/sidebar') %>
            <!--header-->

            <!--Loop-->
            <main class="main main-container" id="main">

                <section class="loop-feed">
                    <h1>The Loop</h1>
                    <div id="post-box">
                        <h2>Create a post!</h2>

                        <div class="tabs-menu-post-box">
                            <button class="tab-button-post-box active"
                                onclick="toggleForm('img-form', 'text-form');">Image</button>
                            <button class="tab-button-post-box"
                                onclick="toggleForm('text-form', 'img-form');">Code</button>
                        </div>

                        <div class="details-content-post-box" id="img-form">
                            <form action="/uploadimg" method="post" enctype="multipart/form-data">
                                <!--Courses -->
                                <ul class="course-select">
                                    <p id="course-list">Please choose the module for your post</p>
                                    <li>
                                        <input type="radio" id="web" name="module" value="1">
                                        <label for="web">Web Authoring</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="course-programming" name="module" value="2">
                                        <label for="course-programming">Programming</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="audio-video-sensor" name="module" value="3">
                                        <label for="audio-video-sensor">Audio Video</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="media-studies" name="module" value="3">
                                        <label for="media-studies">Critical Media</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="vis-comp" name="module" value="3">
                                        <label for="vis-comp">Vis Comp</label>
                                    </li>
                                </ul>
                                <!-- Upload image -->
                                <input type="hidden" id="chooseImage" name="chooseImage" value="true">
                                <input type="file" id="image" name="image" accept="image/*">

                                <!-- Caption -->
                                <label for="caption">Write a caption:</label>
                                <textarea id="caption" name="caption"></textarea>
                                <!-- <input type="text" id="caption" name="caption">-->

                                <!-- Check if delete later -->
                                <label for="author">Please put in your ID:</label><br>
                                <input type="text" id="author" name="author"><br>

                                <!-- Upload button -->
                                <input type="submit" id="upload-button" value="Upload Image">
                            </form>
                        </div>

                        <div class="details-content-post-box" id="text-form" style="display:none;">
                            <form action="/uploadtext" method="post" enctype="multipart/form-data">

                                <!--Courses -->
                                <ul class="course-select">
                                    <p id="course-list">Please choose the module for your post</p>
                                    <li>
                                        <input type="radio" id="web" name="module" value="1">
                                        <label for="web">Web Authoring</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="course-programming" name="module" value="2">
                                        <label for="course-programming">Programming</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="audio-video-sensor" name="module" value="3">
                                        <label for="audio-video-sensor">Audio Video</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="media-studies" name="module" value="3">
                                        <label for="media-studies">Critical Media</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="vis-comp" name="module" value="3">
                                        <label for="vis-comp">Vis Comp</label>
                                    </li>
                                </ul>

                                <!-- Code field -->
                                <label for="code">Paste your code here:</label>
                                <textarea id="code" name="code"></textarea>

                                <!-- Caption -->
                                <label for="caption">Write a caption:</label>
                                <textarea id="caption" name="caption"></textarea>

                                <!-- Check if delete later -->
                                <label for="author">Please put in your ID:</label><br>
                                <input type="text" id="author" name="author"><br>

                                <!-- Upload button -->
                                <input type="submit" id="upload-button" value="Upload Image">

                            </form>
                        </div>
                    </div>

                    <% if (posts.length> 0) { %>
                        <% for( let i=0; i < posts.length; i++) { %>
                            <div class="posts-feed">
                                <!--check ich weiß nicht wofür das ist -->
                                <div class="menu">
                                    <button type="button" class="menu-btn" aria-haspopup="true" aria-expanded="false">
                                        <ion-icon class="menu-icon" name="ellipsis-horizontal" role="img"
                                            aria-label="ellipsis horizontal"></ion-icon>
                                    </button>
                                </div>

                                <!--post-->
                                <div class="post">
                                    <div class="post-heading">
                                        <div class="user">
                                            <div class="profile-photo">
                                                <img src="images/eve.jpg">
                                            </div>
                                            <div class="info">
                                                <a href="/users/<%= posts[i].user_id%>">
                                                    <h3>
                                                        <%= posts[i].username %>
                                                    </h3>
                                                </a>
                                                <small>
                                                    <%= posts[i].post_date %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (posts[i].code_text !=='none' ) { %>
                                        <div class="post-content">
                                            <div class="code-box">
                                                <pre>
                                                    <code>
                                                        <%= posts[i].code_text %>
                                                    </code>
                                                </pre>
                                            </div>
                                        </div>
                                        <% } else { %>

                                            <div class="posted-image">
                                                <img src="/uploads/<%=posts[i].path%>">
                                            </div>
                                            <% } %>

                                                <div class="caption">
                                                    <p><b>
                                                            <%= posts[i].username %>
                                                        </b>
                                                        <%= posts[i].caption %>
                                                            <span class="hash-tag">
                                                                <%= posts[i].course %>
                                                            </span>
                                                    </p>
                                                </div>

                                                <div class="comments-section">
                                                    <div class="comment">
                                                        <div class="user-avatar">
                                                            <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                                        </div>
                                                        <div class="comment-content">
                                                            <a href="#" class="username">Steeve</a>
                                                            <p class="comment-text">well done omg</p>
                                                        </div>
                                                    </div>
                                                    <div class="comment">
                                                        <div class="user-avatar">
                                                            <img src="assets/images/avatars/avatar-3.jpg" alt="">
                                                        </div>
                                                        <div class="comment-content">
                                                            <a href="#" class="username">Monroe</a>
                                                            <p class="comment-text">I love it!
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="add-comment">
                                                    <img src="assets/images/avatars/avatar-7.jpg" alt=""
                                                        class="user-avatar">
                                                    <div class="comment-input">
                                                        <textarea placeholder="Add Comment...." rows="1"
                                                            class="comment-textarea"></textarea>

                                                    </div>
                                                    <button type="submit" class="comment-submit-btn">Comment</button>
                                                </div>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <p>no posts yet!</p>
                                        <% } %>


                </section>

                <section class="news">
                    <h1>News</h1>
                    <div class="previews">
                        <div class="calender-preview">
                            <h2>Events Calendar</h2>
                            <img src="/assets/img/group.jpg">
                        </div>
                    </div>
                    <div class="previews">
                        <div class="weather-preview">
                            <h2>Today in Dublin</h2>
                            <img src="/assets/img/group.jpg">
                        </div>
                    </div>
                </section>
            </main>



            <script src="/assets/javascript/main.js"></script>
</body>

</html>